#!/usr/bin/make -f

PPPD_PLUGIN_DIR := $(shell dh_ppp --plugin-dir)

%:
	dh $@ --with ppp

override_dh_auto_configure:
	intltoolize; \
	dh_auto_configure -- \
		--disable-static \
		--with-gtk4 \
		--with-pppd-plugin-dir=$(PPPD_PLUGIN_DIR) \
		--with-pppd-auth-notify-support \
		--with-pppd-ext-tls-settings-support

execute_before_dh_install:
	find debian/tmp -name '*.la' -print -delete
